# don't want these in GitHub
.htaccess

# private / per-user configuration files
google_staticmap_key.php

# backups
*~

# registration log
datafile.dtf

# transient artifacts
.ant-targets-build.xml

# OS junk files
[Tt]humbs.db
*.DS_Store
/jmri-fb.html
